<table>
  <tbody>
  <%- @products.each do |product| -%>
    <tr>
      <%- product.attributes.each do |attr, val|-%>
      <th><%= Product.human_attribute_name(attr)%></th>
      <%- end -%>
    </tr>
    <tr>
      <%- product.attributes.each do |attr, val|-%>
      <td><%= val%></td>
      <%- end -%>
    </tr>
  <%- end -%>
  </tbody>
</table>
