<%-
providers ||= nil
-%>
<table id="provider_info_table" class="table table-striped span5">
  <%- providers.each do |provider|-%>
    <tr>
      <td>
        <%= provider.name %>
      </td>
      <td>
        <%= provider.country.name %>
      </td>
      <td>
        <%= number_to_currency provider.price%>
      </td>
      <td>
        <a href="<%= provider.url %>"><input type="button" class="btn btn-success" value="買う" /></a>
      </td>
    </tr>
  <%- end -%>
</table>
