<%-
  review ||= nil
-%>
<style>
div#product_review_main {
  overflow: hidden;
  margin: 10px 0;
}
div.review_box_main {
  margin: 10px;
}
div.review_box_main p{
  margin: 2px;
}
div.user_box_main {
  float:left;
} 
span.review_main_user {
  float: right;
} 
</style>
<div id="product_review_main">
  <%- if review.present? -%>
    <div class="review_box_main span6">
      <p class="review_subject_main span4">
        <strong><%= review.subject %></strong>
        <span class="review_main_user"><a href=<%= review.user.facebook_url%>> by <%= review.user.nickname %></a></span>
      </p>
      <p class="review_content_main span6"><%= review.content ? review.content.comment : ""%></p>
    </div>
  <%- end -%>
</div>
